
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/* fade UP */

.fade-up-enter-active,
.fade-up-leave-active {
    transition: all 0.5s ease;
}

.fade-up-enter-from,
.fade-up-leave-to {
    transform: translateY(100px);
    opacity: 0;
}

/* fade DOWN */

.fade-down-enter-active,
.fade-down-leave-active {
    transition: all 0.5s ease;
}

.fade-down-enter-from,
.fade-down-leave-to {
    transform: translateY(-100px);
    opacity: 0;
}


/* fade RIGHT */
.fade-right-enter-active,
.fade-right-leave-active {
    transition: all 0.5s ease;
}

.fade-right-enter-from,
.fade-right-leave-to {
    transform: translateX(-100px);
    opacity: 0;
}
/* fade LEFT */
.fade-left-enter-active,
.fade-left-leave-active {
    transition: all 0.5s ease;
}

.fade-left-enter-from,
.fade-left-leave-to {
    transform: translateX(100px);
    opacity: 0;
}

/* bounce */

.bounce-enter-active {
    animation: bounce-in2 0.5s;
}
.bounce-leave-active {
    animation: bounce-in2 0.5s reverse;
}
@keyframes bounce-in2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

.scale-enter-active {
    animation: bounce-in 1s reverse;
}
.scale-leave-active {
    animation: bounce-in 1s;
}
@keyframes bounce-in {
    0% {
        transform: skewY(0deg);
    }
    25% {
        transform: skewY(2deg);
    }
    50% {
        transform: skewY(-5deg);
    }
    75% {
        transform: skewY(0deg);
    }
    100% {
        transform: skewY(-120deg);
    }
}